<!-- ICON BUTTONS WITH LABELS, LEFT & RIGHT -->
<div class="card card-w-title user-guide">
    <h1>Icon Buttons</h1>
    <div class="grid">
        <div class="col-6 card-content">
            <h2>Alert Logic Icon Button</h2>
            <button type="button" icon="al al-logo" class="primary" pButton></button>
            <p>To use an AlertLogic icon in this button, add <code class="language-css" pCode>icon="al
                    al-[icon-name]"</code></p>

            <h5>Code Snippet:</h5>
            <code-example language="markup">
                <code>
                    <button type="button" icon="al al-logo" class="primary" pButton></button>
                </code>
            </code-example>
        </div>

        <div class="col-6 card-content">
            <h2>Material Design Icon Button</h2>
            <button type="button" icon="ui-icon-open-in-browser" class="primary" pButton></button>
            <p>To use a Material icon in this button, add <code class="language-css"
                    pCode>icon="ui-icon-[icon-name]"</code></p>

            <h5>Code Snippet:</h5>
            <code-example language="markup">
                <code>
                    <button type="button" icon="ui-icon-open-in-browser" class="primary" pButton></button>
                </code>
            </code-example>
        </div>
    </div>
</div>

<div class="card card-w-title user-guide">
    <h1>Colors, Shapes and Sizes</h1>
    <div class="grid">
        <div class="col-6 card-content">
            <h2>Icon Button Colors</h2>
            <div class="col-2 ">
                <!-- Primary Action Button -->
                <button type="button" icon="ui-icon-search" class="primaryAction" pButton></button>
            </div>
            <div class="col-10 ">
                <pre class="language-css" pCode>class="primaryAction"</pre>
            </div>

            <div class="col-2 ">
                <!-- Primary Button -->
                <button type="button" icon="ui-icon-search" class="primary" pButton></button>
            </div>
            <div class="col-10 ">
                <pre class="language-css" pCode>class="primary"</pre>
            </div>

            <div class="col-2 ">
                <!-- Accent Button -->
                <button type="button" icon="ui-icon-search" class="accent" pButton></button>
            </div>
            <div class="col-10 ">
                <pre class="language-css" pCode>class="accent"</pre>
            </div>

            <div class="col-2 ">
                <!-- Light Gray Button -->
                <button type="button" icon="ui-icon-search" class="lightGray" pButton></button>
            </div>
            <div class="col-10 ">
                <pre class="language-css" pCode>class="lightGray"</pre>
            </div>

            <h5>Code Snippet:</h5>
            <code-example language="markup">
                <code>
                    <button type="button" icon="ui-icon-search" class="primaryAction" pButton></button>
                </code>
            </code-example>
        </div>

        <div class="col-6 card-content">
            <h2>Default FAB</h2>
            <button type="button" icon="ui-icon-add" class="primaryAction fab" pButton></button>
            <h5>Code Snippet:</h5>
            <code-example language="markup">
                <code>
                    <button type="button" icon="ui-icon-add" class="primaryAction fab" pButton></button>
                </code>
            </code-example>

            <h2>Round Icon Button</h2>
            <button type="button" icon="ui-icon-add" class="primaryAction round" pButton></button>
            <h5>Code Snippet:</h5>
            <code-example language="markup">
                <code>
                    <button type="button" icon="ui-icon-add" class="primaryAction round" pButton></button>
                </code>
            </code-example>
        </div>
    </div>
</div>
