<div class="card card-w-title">
    <h1>Tabview</h1>
    <div class="card-content">
        <p-tabView>
            <p-tabPanel header="Tab One">
                La croix mlkshk four loko listicle letterpress swag lumbersexual pop-up adipisicing air plant. Franzen fashion axe vinyl ut XOXO cillum affogato, mixtape deep v gochujang meh magna pitchfork cliche chicharrones.
            </p-tabPanel>
            <p-tabPanel header="Tab Two">
                Semiotics reprehenderit taxidermy anim pug non voluptate knausgaard ex crucifix chicharrones veniam raw denim ennui fingerstache. Gluten-free woke ut retro heirloom.
            </p-tabPanel>
            <p-tabPanel header="Tab Three">
                DIY mumblecore slow-carb tote bag cornhole, voluptate celiac ramps vinyl.
            </p-tabPanel>
        </p-tabView>
        <h5>Code Snippet:</h5>
        <code-example language="markup" resourceId="sample/components/tab-controls/tab"></code-example>
    </div>
</div>
