<div class="grid">
    <div class="col-12 ">
        <h1>Entitlements</h1>
    </div>
    <div class="col-4 ">
        <div class="card card-w-title">
            <h2 class="essentials">Essentials</h2>
            <div class="content  short">
                <p><i class="material-icons">code</i>al-color($al-essentials, 500)</p>
            </div>
        </div>
    </div>
    <div class="col-4 ">
        <div class="card card-w-title">
            <h2 class="professional">Professional</h2>
            <div class="content short">
                <p><i class="material-icons">code</i>al-color($al-professional, 500)</p>
            </div>
        </div>
    </div>
    <div class="col-4 ">
        <div class="card card-w-title">
            <h2 class="enterprise">Enterprise</h2>
            <div class="content short">
                <p><i class="material-icons">code</i>al-color($al-enterprise, 500)</p>
            </div>
        </div>
    </div>

    <div class="col-12 ">
        <h1>Global Colors</h1>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2 class="primary">Primary</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-gray, 500)</p>
                <p><i class="material-icons">code</i>$primaryColor</p>
                <p><i class="material-icons">text_format</i>$primaryTextColor</p>
            </div>
        </div>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2 class="primaryAction">Primary Action</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-amber, 500)</p>
                <p><i class="material-icons">code</i>$primaryActionColor</p>
                <p><i class="material-icons">text_format</i>$primaryActionTextColor</p>
            </div>
        </div>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2 class="accent">Accent</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-smokeBlue, 500)</p>
                <p><i class="material-icons">code</i>$accentColor</p>
                <p><i class="material-icons">text_format</i>$accentTextColor</p>
            </div>
        </div>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2 class="red">Red</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-red, 500)</p>
                <p><i class="material-icons">code</i>$dangerColor</p>
                <p><i class="material-icons">text_format</i>$dangerTextColor</p>
            </div>
        </div>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2 class="green">Green</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-green, 500)</p>
                <p><i class="material-icons">code</i>$successColor</p>
                <p><i class="material-icons">text_format</i>$successTextColor</p>
            </div>
        </div>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2 class="yellow">Yellow</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-yellow, 500)</p>
            </div>
        </div>
    </div>

    <div class="col-12 ">
        <h1>Deployments</h1>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2 class="orange"><i class="al al-aws"></i>AWS</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-orange, 500)</p>
                <p><i class="material-icons">code</i>$aws</p>
                <p><i class="material-icons">font_download</i>Icon: al al-aws</p>
            </div>
        </div>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2 class="blue"><i class="al al-azure"></i>Azure</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-blue, 500)</p>
                <p><i class="material-icons">code</i>$azure</p>
                <p><i class="material-icons">font_download</i>Icon: al al-azure</p>
            </div>
        </div>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2 class="purple"><i class="al al-datacenter"></i>DataCenter</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-purple, 500)</p>
                <p><i class="material-icons">code</i>$dataCenter</p>
                <p><i class="material-icons">font_download</i>Icon: al al-datacenter</p>
            </div>
        </div>
    </div>

    <div class="col-12 ">
        <h1>Risk States</h1>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2><i class="al al-risk-1 risk critical"></i>Critical</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-red, 600)</p>
                <p><i class="material-icons">code</i>.risk.critical</p>
                <p><i class="material-icons">font_download</i>Icon: al al-risk-1</p>
            </div>
        </div>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2><i class="al al-risk-2 risk high"></i>High</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-orange, 500)</p>
                <p><i class="material-icons">code</i>.risk.high</p>
                <p><i class="material-icons">font_download</i>Icon: al al-risk-2</p>
            </div>
        </div>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2><i class="al al-risk-3 risk medium"></i>Medium</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-yellow, 500)</p>
                <p><i class="material-icons">code</i>.risk.medium</p>
                <p><i class="material-icons">font_download</i>Icon: al al-risk-3</p>
            </div>
        </div>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2><i class="al al-risk-1 risk low"></i>Low</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-gray, 300)</p>
                <p><i class="material-icons">code</i>.risk.low</p>
                <p><i class="material-icons">font_download</i>Icon: al al-risk-1</p>
            </div>
        </div>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2><i class="al al-risk-4 risk info"></i>Info</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-gray, 300)</p>
                <p><i class="material-icons">code</i>.risk.info</p>
                <p><i class="material-icons">font_download</i>Icon: al al-risk-4</p>
            </div>
        </div>
    </div>

    <div class="col-12 ">
        <h2>Threat States</h2>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2><i class="al al-risk-1 threat high"></i>High</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-red, 600)</p>
                <p><i class="material-icons">code</i>.threat.high</p>
                <p><i class="material-icons">font_download</i>Icon: al al-risk-1</p>
            </div>
        </div>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2><i class="al al-risk-2 threat medium"></i>Medium</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-yellow, 500)</p>
                <p><i class="material-icons">code</i>.threat.medium</p>
                <p><i class="material-icons">font_download</i>Icon: al al-risk-2</p>
            </div>
        </div>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2><i class="al al-risk-3 threat low"></i>Low</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-yellow, 500)</p>
                <p><i class="material-icons">code</i>.threat.low</p>
                <p><i class="material-icons">font_download</i>Icon: al al-risk-3</p>
            </div>
        </div>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2><i class="al al-risk-4 threat info"></i>Info</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-gray, 300)</p>
                <p><i class="material-icons">code</i>.threat.info</p>
                <p><i class="material-icons">font_download</i>Icon: al al-risk-4</p>
            </div>
        </div>
    </div>

    <div class="col-12 ">
        <h1>Icons</h1>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2><i class="al al-webhooks"></i>Icon</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-gray, 500)</p>
            </div>
        </div>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2><i class="material-icons info">info</i>Info</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-gray, 100)</p>
                <p><i class="material-icons">code</i>i class="info"</p>
            </div>
        </div>
    </div>

    <div class="col-12 ">
        <h2>Selection States</h2>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2 class="accent">Select/Active</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-smokeBlue, 500)</p>
                <p><i class="material-icons">code</i>$accentColor</p>
                <p><i class="material-icons">text_format</i>$textColor</p>
            </div>
        </div>
    </div>
    <div class="col-2 ">
        <div class="card card-w-title">
            <h2 class="hover">Hover</h2>
            <div class="content">
                <p><i class="material-icons">code</i>al-color($al-smokeBlue, 100)</p>
                <p><i class="material-icons">code</i>$hoverBgColor</p>
                <p><i class="material-icons">text_format</i>$hoverTextColor</p>
            </div>
        </div>
    </div>
</div>
