<div style="display:none;" id="right-button-example">
    <button pButton type="button" icon="ui-icon-keyboard-arrow-right" label="Icon Right Button"
        iconPos="right"></button>
</div>
<div class="grid user-guide">
    <div class="col-12 ">
        <div class="card card-w-title">
            <h1>PRIMENG Buttons</h1>
            <div class="card-content">
                <!--  -->

                <h5>Severities</h5>
                <button pButton pRipple type="button" label="Primary"></button>
                <button pButton pRipple type="button" label="Secondary" class="p-button-secondary"></button>
                <button pButton pRipple type="button" label="Success" class="p-button-success"></button>
                <button pButton pRipple type="button" label="Danger" class="p-button-danger"></button>

                <h5>Rounded Buttons</h5>
                <button pButton pRipple type="button" label="Primary" class="p-button-rounded"></button>
                <button pButton pRipple type="button" label="Secondary"
                    class="p-button-rounded p-button-secondary"></button>
                <button pButton pRipple type="button" label="Success"
                    class="p-button-rounded p-button-success"></button>
                <button pButton pRipple type="button" label="Danger" class="p-button-rounded p-button-danger"></button>

                <h5>Text Buttons</h5>
                <button pButton pRipple type="button" label="Primary" class="p-button-text"></button>
                <button pButton pRipple type="button" label="Secondary"
                    class="p-button-secondary p-button-text"></button>
                <button pButton pRipple type="button" label="Success" class="p-button-success p-button-text"></button>
                <button pButton pRipple type="button" label="Danger" class="p-button-danger p-button-text"></button>
                <button pButton pRipple type="button" label="Plain" class="p-button-text p-button-plain"></button>

                <h5>Outlined Buttons</h5>
                <button pButton pRipple type="button" label="Primary" class="p-button-outlined"></button>
                <button pButton pRipple type="button" label="Secondary"
                    class="p-button-outlined p-button-secondary"></button>
                <button pButton pRipple type="button" label="Success"
                    class="p-button-outlined p-button-success"></button>
                <button pButton pRipple type="button" label="Danger" class="p-button-outlined p-button-danger"></button>

                <h5>Rounded Outlined Buttons</h5>
                <button pButton pRipple type="button" label="Primary"
                    class="p-button-outlined p-button-rounded"></button>
                <button pButton pRipple type="button" label="Secondary"
                    class="p-button-outlined p-button-rounded p-button-secondary"></button>
                <button pButton pRipple type="button" label="Success"
                    class="p-button-outlined p-button-rounded p-button-success"></button>
                <button pButton pRipple type="button" label="Danger"
                    class="p-button-outlined p-button-rounded p-button-danger"></button>

                <h5>Rounded Icon Buttons</h5>
                <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded"></button>
                <button pButton pRipple type="button" icon="pi pi-bookmark"
                    class="p-button-rounded p-button-secondary"></button>
                <button pButton pRipple type="button" icon="pi pi-search"
                    class="p-button-rounded p-button-success"></button>
                <button pButton pRipple type="button" icon="pi pi-times"
                    class="p-button-rounded p-button-danger"></button>

                <h5>Rounded Text Icon Buttons</h5>
                <button pButton pRipple type="button" icon="pi pi-check"
                    class="p-button-rounded p-button-text"></button>
                <button pButton pRipple type="button" icon="pi pi-bookmark"
                    class="p-button-rounded p-button-secondary p-button-text"></button>
                <button pButton pRipple type="button" icon="pi pi-search"
                    class="p-button-rounded p-button-success p-button-text"></button>
                <button pButton pRipple type="button" icon="pi pi-times"
                    class="p-button-rounded p-button-danger p-button-text"></button>
                <button pButton pRipple type="button" icon="pi pi-filter"
                    class="p-button-rounded p-button-text p-button-plain"></button>

                <h5>Rounded and Outlined Icon Buttons</h5>
                <button pButton pRipple type="button" icon="pi pi-check"
                    class="p-button-rounded p-button-outlined"></button>
                <button pButton pRipple type="button" icon="pi pi-bookmark"
                    class="p-button-rounded p-button-secondary p-button-outlined"></button>
                <button pButton pRipple type="button" icon="pi pi-search"
                    class="p-button-rounded p-button-success p-button-outlined"></button>
                <button pButton pRipple type="button" icon="pi pi-times"
                    class="p-button-rounded p-button-danger p-button-outlined"></button>

                <h5>Button Set</h5>
                <span class="p-buttonset">
                    <button pButton pRipple label="Save" icon="pi pi-check"></button>
                    <button pButton pRipple label="Delete" icon="pi pi-trash"></button>
                    <button pButton pRipple label="Cancel" icon="pi pi-times"></button>
                </span>

                <h5>Sizes</h5>
                <div class="sizes">
                    <p-button label="Small" icon="pi pi-check" styleClass="p-button-sm"></p-button>
                    <p-button label="Normal" icon="pi pi-check" styleClass="p-button"></p-button>
                    <p-button label="Large" icon="pi pi-check" styleClass="p-button-lg"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-6">
        <div class="card card-w-title">
            <h1>Older Bootens</h1>
            <div class="card-content">
                <div class="grid ui-fluid">
                    <div class="col-12">
                        <!-- Primary Button - for primary actions only -->
                        <div class="col-12">
                            <button pButton class="primaryAction" type="button" label="Primary Action"></button>
                        </div>
                        <div class="col-12">
                            <button pButton class="primaryAction flat" type="button"
                                label="Primary Action Flat"></button>
                        </div>
                    </div>

                    <div class="col-12 ">
                        <!-- Default Button -->
                        <div class="col-12 ">
                            <button pButton type="button" label="Default Filled"></button>
                        </div>
                        <div class="col-12 ">
                            <button pButton type="button" label="Default Flat" class="flat"></button>
                        </div>
                    </div>
                    <div class="col-12 ">
                        <!-- Accent Button -->
                        <div class="col-12 ">
                            <button pButton class="accent" type="button" label="Accent Filled"></button>
                        </div>
                        <div class="col-12 ">
                            <button pButton class="accent flat" type="button" label="Accent Flat"></button>
                        </div>
                    </div>
                    <div class="col-12">
                        <!-- Success Button -->
                        <div class="col-12 ">
                            <button pButton type="button" label="Success Filled"
                                class="success"></button>
                        </div>
                        <div class="col-12 ">
                            <button pButton type="button" label="Success Flat"
                                class="success flat"></button>
                        </div>
                    </div>

                    <div class="col-12">
                        <!-- Danger Button -->
                        <div class="col-12 ">
                            <button pButton type="button" label="Danger Filled" class="danger"></button>
                        </div>
                        <div class="col-12 ">
                            <button pButton type="button" label="Danger Flat" class="danger flat"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card card-w-title">
            <h1>Bootens Newer</h1>
            <div class="card-content">
                <div class="grid col-12">
                    <div class="col-12 ">
                        <!-- Primary Button - for primary actions only -->
                        <div class="col-12 ">
                            <button pButton class="primaryAction" type="button" label="Primary Action Filled"></button>
                        </div>
                        <div class="col-12 ">
                            <button pButton class="primaryAction p-button-outlined" type="button" label="Primary Action Outlined"></button>
                        </div>
                        
                        <div class="col-12 ">
                            <button pButton class="primaryAction ghost" type="button" label="Primary Action Ghost"></button>
                        </div>
                    </div>

                    <div class="col-12">
                        <!-- Default Button -->
                        <div class="col-12 ">
                            <button pButton type="button" label="Default Filled"></button>
                        </div>
                        <div class="col-12 ">
                            <button pButton type="button" label="Default Outlined" class="p-button-outlined"></button>
                        </div>
                        <div class="col-12 ">
                            <button pButton type="button" label="Default Ghost" class="ghost"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
