<div style="display:none;" id="right-button-example">
  <button pButton type="button" icon="ui-icon-keyboard-arrow-right" label="Icon Right Button" iconPos="right"></button>
</div>
<div class="grid user-guide">

    <div class="row col-6">
        <div class="card card-w-title">
          <h1>PRIMENG Buttons</h1>
          <div class="card-content">
            <!--  -->
    
            <h5>Severities</h5>
            <button pButton pRipple type="button" label="Default"></button>
            <button pButton pRipple type="button" label="Primary/Secondary" class="p-button-secondary"></button>
            <button pButton pRipple type="button" label="Success" class="p-button-success"></button>
            <button pButton pRipple type="button" label="Danger" class="p-button-danger"></button>
    
            <h5>Rounded Buttons</h5>
            <button pButton pRipple type="button" label="Default" class="p-button-rounded"></button>
            <button pButton pRipple type="button" label="Primary/Secondary"
              class="p-button-rounded p-button-secondary"></button>
            <button pButton pRipple type="button" label="Success" class="p-button-rounded p-button-success"></button>
            <button pButton pRipple type="button" label="Danger" class="p-button-rounded p-button-danger"></button>
    
            <h5>Text Buttons</h5>
            <button pButton pRipple type="button" label="Default" class="p-button-text"></button>
            <button pButton pRipple type="button" label="Primary/Secondary"
              class="p-button-secondary p-button-text"></button>
            <button pButton pRipple type="button" label="Success" class="p-button-success p-button-text"></button>
            <button pButton pRipple type="button" label="Danger" class="p-button-danger p-button-text"></button>
            <button pButton pRipple type="button" label="Plain" class="p-button-text p-button-plain"></button>
    
            <h5>Outlined Buttons</h5>
            <button pButton pRipple type="button" label="Primary" class="p-button-outlined"></button>
            <button pButton pRipple type="button" label="Secondary" class="p-button-outlined p-button-secondary"></button>
            <button pButton pRipple type="button" label="Success" class="p-button-outlined p-button-success"></button>
            <button pButton pRipple type="button" label="Danger" class="p-button-outlined p-button-danger"></button>
    
            <h5>Rounded Outlined Buttons</h5>
            <button pButton pRipple type="button" label="Default" class="p-button-outlined p-button-rounded"></button>
            <button pButton pRipple type="button" label="Primary/Secondary"
              class="p-button-outlined p-button-rounded p-button-secondary"></button>
            <button pButton pRipple type="button" label="Success"
              class="p-button-outlined p-button-rounded p-button-success"></button>
            <button pButton pRipple type="button" label="Danger"
              class="p-button-outlined p-button-rounded p-button-danger"></button>
    
            <h5>Rounded Icon Buttons</h5>
            <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded"></button>
            <button pButton pRipple type="button" icon="pi pi-bookmark"
              class="p-button-rounded p-button-secondary"></button>
            <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success"></button>
            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"></button>
    
            <h5>Rounded Text Icon Buttons</h5>
            <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-text"></button>
            <button pButton pRipple type="button" icon="pi pi-bookmark"
              class="p-button-rounded p-button-secondary p-button-text"></button>
            <button pButton pRipple type="button" icon="pi pi-search"
              class="p-button-rounded p-button-success p-button-text"></button>
            <button pButton pRipple type="button" icon="pi pi-times"
              class="p-button-rounded p-button-danger p-button-text"></button>
            <button pButton pRipple type="button" icon="pi pi-filter"
              class="p-button-rounded p-button-text p-button-plain"></button>
    
            <h5>Rounded and Outlined Icon Buttons</h5>
            <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-outlined"></button>
            <button pButton pRipple type="button" icon="pi pi-bookmark"
              class="p-button-rounded p-button-secondary p-button-outlined"></button>
            <button pButton pRipple type="button" icon="pi pi-search"
              class="p-button-rounded p-button-success p-button-outlined"></button>
            <button pButton pRipple type="button" icon="pi pi-times"
              class="p-button-rounded p-button-danger p-button-outlined"></button>
    
            <h5>Button Set</h5>
            <span class="p-buttonset">
              <button pButton pRipple label="Save" icon="pi pi-check"></button>
              <button pButton pRipple label="Delete" icon="pi pi-trash"></button>
              <button pButton pRipple label="Cancel" icon="pi pi-times"></button>
            </span>
    
            <h5>Sizes</h5>
            <div class="sizes">
              <p-button label="Small" icon="pi pi-check" styleClass="p-button-sm"></p-button>
              <p-button label="Normal" icon="pi pi-check" styleClass="p-button"></p-button>
              <p-button label="Large" icon="pi pi-check" styleClass="p-button-lg"></p-button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
    <div class="card card-w-title">
      <h1>Bootens Newer</h1>
      <div class="card-content">
        <!-- Primary Button - for primary actions only -->
        <div class="col-12 ">
          <button pButton class="primaryAction" type="button"
            label="PrimaryAction / Primary / Secondary - Filled"></button>
        </div>
        <div class="col-12 ">
          <button pButton class="primaryAction p-button-outlined" type="button"
            label="PrimaryAction / Primary / Secondary - Outlined"></button>
        </div>

        <div class="col-12 ">
          <button pButton class="primaryAction ghost" type="button"
            label="PrimaryAction / Primary / Secondary - Ghost"></button>
        </div>
      </div>

      <div class="col-12">
        <!-- Default Button -->
        <div class="col-12 ">
          <button pButton type="button" label="Default Filled"></button>
        </div>
        <div class="col-12 ">
          <button pButton type="button" label="Default Outlined"></button>
        </div>
        <div class="col-12 ">
          <button pButton type="button" label="Default Ghost" class="ghost"></button>
        </div>
      </div>
    </div>
    <div class="card card-w-title">
      <div class="card-content" style="background-color: var(--ald-g-color-slate-700);">
        <!-- Primary Button - for primary actions only -->
        <div class="col-12">
          <button pButton class="light" type="button"
            label="Light - Filled"></button>
        </div>
        <div class="col-12">
          <button pButton class="light p-button-outlined" type="button"
            label="Light - Outlined"></button>
        </div>

        <div class="col-12">
          <button pButton class="light ghost" type="button"
            label="Light - Ghost"></button>
        </div>
      </div>
    </div>
  </div>
</div>
