<div class="grid user-guide">
    <div class="col-12 ">
        <div class="card card-w-title">
            <h1>Split Button with Dropdown</h1>
            <div class="card-content">
                <p-splitButton [model]="splitButtonItems" label="Search" [model]="splitButtonItems"></p-splitButton>
                <h5>Code Snippet:</h5>
                <code-example language="markup" resourceId="sample/components/split-dropdown/button"></code-example>
            </div>
        </div>
    </div>
</div>
