.widget {

    h2 {
        font-size: 16px;
        padding: 6px 12px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card-content {
        height: 230px;
        padding: 12px;
    }

    .card-footer {
        padding: 12px;

        button {
            margin-left: 12px;
        }
    }
}
