<p-tabView class="user-guide">
    <p-tabPanel header="Style Guide">
        <div class="card card-w-title deployment-card">
            <h1>Deployment Cards</h1>
            <div class="card-content">
                <p>This is not a shared component.</p>
                <p>The original component is <code>al-deployment-card</code> and is a part of the o3-design library. This is a
                    converted card and not a component.</p>
                <div class="grid">
                    <div class="col-4">
                        <div class="card card-w-title">
                            <h1 class="aws"><i class="al al-aws"></i>AWS</h1>
                            <div class="card-content">
                                <div class="subtitle">August 4, 2019</div>
                                <div class="deployment-name">My AWS Deployment</div>
                            </div>
                            <div class="card-footer">
                                <div class="btnGroupRight">
                                    <button type="button" class="flat right" label="Delete" pButton></button>
                                    <button type="button" class="flat primaryAction right" label="Edit"
                                        pButton></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card card-w-title">
                            <h1 class="azure"><i class="al al-azure"></i>Microsoft Azure</h1>
                            <div class="card-content">
                                <div class="subtitle">September 21, 2019</div>
                                <div class="deployment-name">My Azure Deployment</div>
                            </div>
                            <div class="card-footer">
                                <div class="btnGroupRight">
                                    <button type="button" class="flat right" label="Delete" pButton></button>
                                    <button type="button" class="flat primaryAction right" label="Edit"
                                        pButton></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card card-w-title">
                            <h1 class="data-center"><i class="al al-datacenter"></i>Data Center</h1>
                            <div class="card-content">
                                <div class="subtitle">October 22, 2019</div>
                                <div class="deployment-name">My Data Center Deployment</div>
                            </div>
                            <div class="card-footer">
                                <div class="btnGroupRight">
                                    <button type="button" class="flat right" label="Delete" pButton></button>
                                    <button type="button" class="flat primaryAction right" label="Edit"
                                        pButton></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h5>Code Snippet:</h5>
                <code-example language="markup" resourceId="sample/components/cards-deployments/card"></code-example>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>
