<p-tabView class="user-guide">
    <p-tabPanel header="Style Guide">
        <div class="card card-w-title">
            <h1>Custom AL Toast</h1>
            <!-- <div class="card-content">
                <p>TODO: This component needs the correct UI buttons and needs to align more with the custom
                    toast in
                    the <a
                        href="https://xd.adobe.com/view/49844f9a-e9cd-48c3-7205-ca09efa65fb2-3fb5/screen/5aa0fcee-f20f-4376-9589-21a940b68aca/Global-Snackbar-Toast/"
                        target="_blank">UX Pattern Library</a>.</p>
                <al-toast key="myToast"></al-toast>
                <button type="button" pButton (click)="showAlToast('custom')" label="Custom"
                    class="ui-button-info"></button>
                <h5>Component Name:</h5>
                <code class="language-css" pCode>al-toast-component</code>
            </div> -->
        </div>
    </p-tabPanel>
    <p-tabPanel header="Usage Guide">
        <div class="card card-w-title readme">
            <h1>Usage Guide</h1>
            <div class="card-content">
                <embedded-markdown resourceId="readme/al-toast/README"></embedded-markdown>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>
