<p-tabView class="user-guide">
    <p-tabPanel header="Style Guide">
        <div class="card card-w-title">
            <h1>Welcome Dialog</h1>
            <div class="card-content">
                <al-welcome-dialog></al-welcome-dialog>
                <button pButton pRipple type="button" label="Open Welcome Dialog" class="p-button-rounded" (click)="showModal()"></button>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Usage Guide">
        <div class="card card-w-title">
            <h1>Usage Guide</h1>
            <div class="card-content">
                <!-- <embedded-markdown resourceId="readme/al-view-helper/README"></embedded-markdown> -->
            </div>
        </div>
    </p-tabPanel>
</p-tabView>
