<div class="grid">
    <div class="col-12 ">
        <div class="card card-w-title">
            <h1>Dropdown Search</h1>
            <div class="card-content">

                <h5>Component Name:</h5>
                <code class="language-css" pCode>something</code>
                <h5>Code Snippet:</h5>
                <code-example language="markup">
                    <code>
                        code smash
                    </code>
                </code-example>
            </div>
        </div>
    </div>
  </div>
