<p-tabView class="user-guide">
    <p-tabPanel header="Style Guide">
        <div class="card card-w-title">
            <h1>AIMS User Cards</h1>
            <div class="card-content">
                <p>This is not a shared component.</p> 
                <p>The original component is <code>al-user-tile</code> and is a part of the o3-design library. This is a
                    converted card and not a component.</p>
                <div class="user-tile" role="button">
                    <div class="nameColoredSquare">
                        <div class="al-identity-icon">
                            <div class="al-identity-icon-space">
                                <div class="identity-icon color1">
                                    <div class="colored-initials">AL</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="acc-name">Alert Logic</div>
                        <div class="acc-email">person@alertlogic.com</div>
                    </div>
                    <button pButton type="button" label="VIEW" class="primary flat"></button>
                </div>
                <h5>Code Snippet:</h5>
                <code-example language="markup" resourceId="sample/components/cards-aims/card"></code-example>
            </div>
        </div>
    </p-tabPanel>
    <!-- <p-tabPanel header="Usage Guide">
        <div class="card card-w-title">
            <h1>Usage Guide</h1>
            <div class="card-content">
                <embedded-markdown resourceId="readme/al-view-helper/README"></embedded-markdown>
            </div>
        </div>
    </p-tabPanel> -->
</p-tabView>
