<p-tabView class="user-guide">
    <p-tabPanel header="Style Guide">
        <div class="card card-w-title">
            <h1>Topology Console</h1>
            <div class="card-content">
                <h5>Component Name:</h5>
                <code class="language-css" pCode>something</code>
                <h5>Code Snippet:</h5>
                <code-example language="markup">
                    <code>
                        code smash
                    </code>
                </code-example>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Usage Guide">
        <div class="card card-w-title">
            <h1>Usage Guide</h1>
            <div class="card-content">
                <!-- <embedded-markdown resourceId="readme/al-view-helper/README"></embedded-markdown> -->
            </div>
        </div>
    </p-tabPanel>
</p-tabView>
