<div class="grid">
    <div class="col-12 ">
        <div class="card card-w-title">
            <h1>Tooltips</h1>
            <div class="card-content">
                <p>This component and the usage guide can be found in the <a href="https://www.primefaces.org/primeng/showcase/#/tooltip"
                        target="_blank">PrimeNG component library</a>.</p>

                <div class="grid ui-fluid">
                    <div class="col-12 ">
                        <input type="text" pInputText pTooltip="Enter your username" placeholder="Right">
                    </div>
                    <div class="col-12 ">
                        <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="top"
                            placeholder="Top">
                    </div>
                    <div class="col-12 ">
                        <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="bottom"
                            placeholder="Bottom">
                    </div>
                    <div class="col-12 ">
                        <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="left"
                            placeholder="Left">
                    </div>
                </div>


                <h5>Code Snippet:</h5>
                <code-example language="markup">
                    <code>
                        <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="top"
                            placeholder="Top">
                    </code>
                </code-example>
            </div>
        </div>
    </div>
</div>
