<div class="card card-w-title">
    <h1 class="typography">Font</h1>
    <div class="grid">
        <div class="col-12">
            <div class="card-content">
                <p>The font is Open Sans and be located at https://www.google.com/fonts/specimen/Open+Sans</p>
                <pre class="language-css" pCode>font-family: 'Open Sans', Arial, sans-serif;</pre>
            </div>
        </div>
    </div>
</div>

<div class="card card-w-title">
    <h1 class="typography">Typography</h1>
    <div class="grid">
        <div class="col-12">
            <div class="card-content head-override">
                <div class="col-3 ">
                    <h1>h1 - Page Header</h1>
                </div>
                <div class="col-9 ">
                    <h1>The quick brown fox jumps over the lazy dog.</h1>
                </div>
                <div class="col-3 ">
                    <h2>h2 - Header</h2>
                </div>
                <div class="col-9 ">
                    <h2>The quick brown fox jumps over the lazy dog.</h2>
                </div>

                <div class="col-3 ">
                    <h3>h3 - Sub-Header</h3>
                </div>
                <div class="col-9 ">
                    <h3>The quick brown fox jumps over the lazy dog.</h3>
                </div>
                <div class="col-3 ">
                    <h4>h4 - Side Nav Heading</h4>
                </div>
                <div class="col-9 ">
                    <h4>The quick brown fox jumps over the lazy dog.</h4>
                </div>
                <div class="col-3 ">
                    <h5>h5 - Semi-Bold Heading</h5>
                </div>
                <div class="col-9 ">
                    <h5>The quick brown fox jumps over the lazy dog.</h5>
                </div>
                <div class="col-3 ">
                    <p>Body and Paragraph</p>
                </div>
                <div class="col-9 ">
                    <p>The quick brown fox jumps over the lazy dog.</p>
                </div>
                <div class="col-3 "><a href="#">Links</a></div>
                <div class="col-9 "><a href="#">The quick brown fox jumps over the lazy dog.</a></div>
            </div>
        </div>
    </div>
</div>


<div class="al-base-card">
    <p-panel [toggleable]="true">
        <p-header>
            Base Card/Panel Body Content Typography
        </p-header>
        <div class="grid grid-nogutter">
            <div class="col-12">
                <h2 class="first">h2 class="first"</h2>
            </div>
            <div class="col-12">
                <div class="label">div class="label"</div>
                <div class="desc">div class="desc"</div>
            </div>
            <div class="col-12">
                <h2 class="first">Secondary Header</h2>
            </div>
            <div class="col-3">
                <div class="label">Label</div>
                <div class="desc">Description</div>
            </div>
            <div class="col-3">
                <div class="label">Label</div>
                <div class="desc">Description</div>
            </div>
            <div class="col-3">
                <div class="label">Label</div>
                <div class="desc">Description</div>
            </div>
            <div class="col-3">
                <div class="label">Label</div>
                <div class="desc">Description</div>
            </div>
        </div>
    </p-panel>
</div>
