<div class="risk critical">
    <b>Note that these components are still under development - Do not use in production applications yet!</b>
</div>

<div class="card card-w-title">
    <h1>Spacing</h1>

    <div class="grid">
        <div class="col-12">
            <div class="card-content">
                <p>The UI CSS KIT comes with shorthand utility classes which can be used to set the margin and padding of elements.</p>

                <pre pCode>.u-property-direction-size</pre>

                <h2>Property</h2>
                <div class="grid">
                    <div class="col-2 p-md-1">
                        <div><strong>m</strong></div>
                        <div><strong>p</strong></div>
                    </div>
                    <div class="col-10 p-md-11">
                        <div>Set the margin property</div>
                        <div>Set the padding property</div>
                    </div>
                </div>


                <h2>Direction</h2>
                <div class="grid">
                    <div class="col-2 p-md-1">
                        <div><strong>blank</strong></div>
                        <div><strong>t</strong></div>
                        <div><strong>b</strong></div>
                        <div><strong>l</strong></div>
                        <div><strong>r</strong></div>
                        <div><strong>x</strong></div>
                        <div><strong>y</strong></div>
                    </div>
                    <div class="col-10 p-md-11">
                        <div>Sets the margin or padding on all 4 sides of the element</div>
                        <div>Sets the margin-top or padding-top</div>
                        <div>Sets the margin-bottom or padding-bottom</div>
                        <div>Sets the margin-left or padding-left</div>
                        <div>Sets the margin-right or padding-right</div>
                        <div>Sets the margin-left and margin-right, or padding-left and padding-right</div>
                        <div>Sets the margin-top and margin-bottom, or padding-top and padding-bottom</div>
                    </div>
                </div>


                <h2>Size</h2>
                <div class="grid">
                    <div class="col-2 p-md-1">
                        <div><strong>1</strong></div>
                        <div><strong>2</strong></div>
                        <div><strong>3</strong></div>
                        <div><strong>4</strong></div>
                        <div><strong>5</strong></div>
                        <div><strong>6</strong></div>
                        <div><strong>7</strong></div>
                        <div><strong>8</strong></div>
                        <div><strong>9</strong></div>
                        <div><strong>10</strong></div>
                        <div><strong>11</strong></div>
                        <div><strong>12</strong></div>
                        <div><strong>13</strong></div>
                        <div><strong>14</strong></div>
                        <div><strong>15</strong></div>
                        <div><strong>16</strong></div>
                        <div><strong>17</strong></div>
                        <div><strong>18</strong></div>
                        <div><strong>19</strong></div>
                        <div><strong>20</strong></div>
                    </div>
                    <div class="col-10 p-md-11">
                        <div>4</div>
                        <div>8</div>
                        <div>12</div>
                        <div>16</div>
                        <div>20</div>
                        <div>24</div>
                        <div>28</div>
                        <div>32</div>
                        <div>36</div>
                        <div>40</div>
                        <div>44</div>
                        <div>48</div>
                        <div>52</div>
                        <div>56</div>
                        <div>60</div>
                        <div>64</div>
                        <div>68</div>
                        <div>72</div>
                        <div>76</div>
                        <div>80</div>
                    </div>
                </div>


                <h2>Examples</h2>
                <div class="grid">
                    <div class="col-2 p-md-1">
                        <div><strong>.my-5</strong></div>
                        <div><strong>.p-5</strong></div>
                        <div><strong>.pt-5</strong></div>
                        <div><strong>.px-10</strong></div>
                    </div>
                    <div class="col-10 p-md-11">
                        <div>margin-top:20px and margin-bottom: 20px</div>
                        <div>padding:20px</div>
                        <div>padding-top: 20px</div>
                        <div>padding-left:40px and padding-right:40px</div>
                    </div>
                </div>



        </div>
    </div>
</div>
