<div class="card card-w-title user-guide">
    <h1>Toggle Switch</h1>
    <div class="card-content">
        <p>This component can be found in the <a href="https://primefaces.org/primeng/#/inputswitch"
                target="_blank">PrimeNG component library</a>.</p>
        <p-inputSwitch [(ngModel)]="checked2"></p-inputSwitch>
        <h5>Code Snippet:</h5>
        <code-example language="markup" resourceId="sample/components/forms-switch/switch"></code-example>
    </div>
</div>
<div class="card card-w-title user-guide">
    <h1>Toggle Switch with Label</h1>
    <div class="card-content">
        <p>Used in base-card header.</p>
        <div class="labeled-switch" style="width: 40px">
            <p-inputSwitch [(ngModel)]="checked2"></p-inputSwitch>
            <div class="label">Enabled</div>
        </div>
        <h5>Code Snippet:</h5>
        <code-example language="markup" resourceId="sample/components/forms-switch/switch2"></code-example>
    </div>
</div>

