<div class="card card-w-title">
    <h1>Welcome</h1>
    <div class="card-content">

        <p>
            Welcome to the Alert Logic component library for Angular applications.
        </p>
        <p>
            For detailed installation instructions for local development, or an exhaustive list of available components
            and their usage, please refer to the <a
                href="https://algithub.pd.alertlogic.net/defender/nepal-ng-common-components/tree/master/README.md">repository
                README.md</a>.
        </p>
        <h2>Table of Contents</h2>
        <ul>
            <li><strong>Home</strong> - Here you are!</li>
            <li><a [routerLink]="['/login']">Login Page</a> - Allows you to authenticate against the integration
                environment (or whatever environment your local environment is configured to reference).</li>
            <li><a [routerLink]="['/protected-content']">Protected Content</a> - for testing <code>al-protected-content-ex</code> directive use and conditional evaluation.</li>
        </ul>
    </div>
</div>
